imgs/sunset.jpg filter=lfs diff=lfs merge=lfs -text
imgs/tower.jpeg filter=lfs diff=lfs merge=lfs -text
imgs/autumn.jpg filter=lfs diff=lfs merge=lfs -text
imgs/fallingwater.png filter=lfs diff=lfs merge=lfs -text
imgs/fallingwater_display.png filter=lfs diff=lfs merge=lfs -text
imgs/scotland_display.png filter=lfs diff=lfs merge=lfs -text
imgs/scotland_house.png filter=lfs diff=lfs merge=lfs -text
imgs/hats.png filter=lfs diff=lfs merge=lfs -text
imgs/house.jpeg filter=lfs diff=lfs merge=lfs -text
imgs/house_display.png filter=lfs diff=lfs merge=lfs -text
imgs/scotland_plain.png filter=lfs diff=lfs merge=lfs -text
imgs/tower_display.png filter=lfs diff=lfs merge=lfs -text
